<a href="https://colab.research.google.com/github/mkarenina/Aprendizado_de_Maquina/blob/main/E01_V2-finalizado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SCC0276 - Aprendizado de Máquina
Universidade de São Paulo (USP)

*Docente*: Fernando Pereira dos Santos

*PAE*: Leo Sampaio Ferraz Ribeiro

## Lista de Exercícios 01

- Entrega: 02/05

- Use esse notebook para realização dos exercícios que envolvem código e por fim enviem suas respostas através do questionátio disponível no e-disciplinas. 

- Qualquer dúvida, não hesitem em perguntar. Não copiem respostas ou códigos de de colegas.

### Questão 01. Relacione os problemas descritos abaixo com os tipos de problemas de Aprendizado de Máquinas vistos em aula.

-----
#### Problemas

(I) Um sistema que recebe pagamento em moedas para uma máquina automática de café. Os desenvolvedores pedem para o Banco Central as especificações exatas de cada moeda usada no Brasil, incluindo tamanho, peso e valor. Essas informações são usadas para criar um algoritimo de identificação de moedas

(II) Um sistema que recebe pagamento em moedas para uma máquina automática de café. Os desenvolvedores coletam uma grande quantidade de moedas usadas no Brasil e rotulam cada moeda com o valor correspondemnte; um algoritimo é desenvolvido para inferir uma função de classificação usando as moedas coletadas e os rótulos.

(III) Um sistema de separação automática de talheres limpos no Restaurante Universitário. Os desenvolvedores coletam uma grande quantidade de talheres; um algoritimo é desenvolvido para inferir, considerando os talheres existentes, quantos tipos de talheres diferentes existem e em qual pilha novos talheres devem ser colocados.

#### Tipos

(1) Classificação

(2) Regressão

(3) Agrupamento

(4) Não há aprendizado

#### Relacione:

(a) I-1, II-2, III-3

(b) I-2, II-3, III-4

(c) I-4, II-1, III-4

(d) I-4, II-1, III-3

### Questão 02. Preencha os valores faltantes na base de dados usando (a) média e (b) mediana

---

Faça download dos dados (`dados.zip`) no edisciplinas. Carregue a base de dados `winequality-red-missing.csv` e preencha os dados faltantes, NaNs (a) na coluna `residual sugar` com a *média* e na coluna `quality` com a *mediana*.

Após preenchimento, calcule a nova *média* de ambas colunas, qual foi o valor encontrado?

(a) Aproximadamente 2.5 e 5.6

(b) Aproximadamente 2.7 e 5.4

(c) Aproximadamente 2.7 e 5.6

(d) Aproximadamente 2.5 e 5.4

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('/content/drive/MyDrive/Faculdade/Aprendizado de Máquina/winequality-red-missing.csv')
data.head()

#preenchimento dos dados da coluna 'residual sugar' com a MEDIA
media = data.loc[data['residual sugar'].notnull(),'residual sugar'].mean()
data['residual sugar'] = data['residual sugar'].fillna(media)

#preenchimento dos dados da coluna 'residual sugar' com a MEDIA
mediana = data.loc[data['quality'].notnull(),'quality'].median()
data['quality'] = data['quality'].fillna(mediana)

#cálculo da média da coluna 'residual sugar'
nova_media_rs = data.loc[data['residual sugar'].notnull(),'residual sugar'].mean()

#cálculo da média da coluna 'quality'
nova_media_q = data.loc[data['quality'].notnull(),'quality'].mean()

#prints resultados
print("Nova Média da coluna 'residual sugar':", nova_media_rs)
print("Nova Média da coluna 'quality':", nova_media_q)

Nova Média da coluna 'residual sugar': 2.5223569023569055
Nova Média da coluna 'quality': 5.651657285803627

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Questão 03.a e Questão 03.b Viés e Variância de modelos

---

Considere os seguintes modelos:

(i) $f(x) = a_0 + a_1x$, onde $a_0$ é aprendido através de um algoritimo

(ii) $f(x) = a_0 + a_1x + a_2x^2$, onde $a_0$ é aprendido através de um algoritimo

(iii) $f(x) = a_0 + a_1x + a_2x^2$, onde $a_0, a_1, a_2$ são aprendidos através de um algoritmo 

(iv) $f(x) = a_0 + a_1x$, onde $a_0, a_1$ são aprendidos através de um algoritmo


#### 3.a. Ordene os modelos considerando o Viés (*decrescente*, em caso de empate ordene pelo númeral romano):

(a) i, iv, ii, iii

(b) i, ii, iv, iii

(c) iii, iv, i, ii

(d) ii, iii, i, iv

#### 3.b. Ordene os modelos considerando a Variância (*crescente*, em caso de empate ordene pelo númeral romano):

(a) i, iv, ii, iii

(b) i, ii, iv, iii

(c) iii, iv, i, ii

(d) ii, iii, i, iv

### Questão 04. Aplicação do conteúdo

---

Faça download dos dados (`dados.zip`) no edisciplinas. Carregue a base de dados `german.csv`. Essa base contém dados do sistema de crédito alemão (https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)). 

As alterações na base de dados devem ser realizadas sempre sobre os dados originais, para evitar o acúmulo de erros. A exceção é a parte (f), onde todas as alterações anteriores devem ser aplicadas pré-treinamento.

In [ ]:
import pandas as pd

# lê o dataset e confere o conteúdo
data = pd.read_csv("/content/drive/MyDrive/Faculdade/Aprendizado de Máquina/german.csv")
data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169.0,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951.0,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096.0,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882.0,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870.0,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

#### 4.a Valores Faltantes ou Errôneos
Olhe o site de origem da base para entender o significado de cada coluna. Com a semântica das colunas em mente, considere a coluna `Duration in month` e identifique se existem valores faltantes ou errôneos. Caso existam, remova as linhas que contêm esses valores.

> **ERRATA:** Considere a coluna `Duration in month` para buscar valores errôneos, mas considere *todos os atributos* em relação a valores faltantes 

Quantos exemplos faltantes ou errôneos foram encontrados?

(a) 0

(b) 2

(c) 3

(d) 4

In [ ]:
data_german = pd.read_csv("/content/drive/MyDrive/Faculdade/Aprendizado de Máquina/german.csv")
print("Dados totais iniciais:", data_german.shape)

#descobrindo dados faltantes, por coluna
print("Dados faltantes, por coluna: \n", data_german.isnull().sum())

#'Duration in month' é composta por dados numéricos de tempo, portanto, considerarei valores errôneos dados não numéricos ou dados negativos
print("Dados da coluna 'Duration in month': \n", data_german['1'].value_counts())

#removendo valores erroneos encontrados
data_german = data_german.where(data_german['1'] != -12) 
data_german = data_german.where(data_german['1'] != -6) 

# print("Dados da coluna 'Duration in month', agora sem valores errados(negativos): \n", data_german['1'].value_counts())

#agora, sem os valores negativos: remoção das linhas com valores faltantes
data_german = data_german.dropna()
print("Após remoção das linhas com valores faltantes:", data_german.shape)

Dados totais iniciais: (1000, 21)
Dados faltantes, por coluna:
 0     0
1     0
2     0
3     1
4     1
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
dtype: int64
Dados da coluna 'Duration in month':
  24    184
 12    178
 18    113
 36     83
 6      75
 15     64
 9      49
 48     48
 30     40
 21     30
 10     28
 27     13
 60     13
 42     11
 11      9
 20      8
 8       7
 4       6
 7       5
 39      5
 45      4
 13      4
 14      4
 33      3
 28      3
 16      2
 54      2
 22      2
-12      1
 47      1
 5       1
 26      1
 72      1
 40      1
-6       1
Name: 1, dtype: int64
Após remoção das linhas com valores faltantes: (996, 21)

#### 4.b Análise dos Atributos

Considere a base de dados original. Antes de realizar aprendizado sobre uma base de dados, é importante identificarmos se existem atributos categóricos na base. Para o uso da maioria dos métodos que veremos em aula, atributos categóricos precisam ser convertidos para numéricos. Considere apenas os atributos e não o rótulo (última coluna).

Identifique os atributos categóricos na base de dados e os converta usando a técnica one-hot encoding (método `get_dummies` no `pandas`).

Qual o número de atributos total ao final da conversão?


(a) 75

(b) 62

(c) 21

(d) 76

In [ ]:
#considerando a base de dados original
data_german = pd.read_csv("/content/drive/MyDrive/Faculdade/Aprendizado de Máquina/german.csv")
#print("Dados totais iniciais:", data_german.shape)

#conversão usando a técnica one-hot encoding, e desconsiderando os valores nulos
dummy_vars = pd.get_dummies(data_german, dummy_na=False)
print(dummy_vars)

      1       4  7  10  12  15  17  20  0_A11  0_A12  ...  14_A152  14_A153  \
0     6  1169.0  4   4  67   2   1   1      1      0  ...        1        0
1    48  5951.0  2   2  22   1   1   2      0      1  ...        1        0
2    12  2096.0  2   3  49   1   2   1      0      0  ...        1        0
3    42  7882.0  2   4  45   1   2   1      1      0  ...        0        1
4    24  4870.0  3   4  53   2   2   2      1      0  ...        0        1
..   ..     ... ..  ..  ..  ..  ..  ..    ...    ...  ...      ...      ...
995  12  1736.0  3   4  31   1   1   1      0      0  ...        1        0
996  30  3857.0  4   4  40   1   1   1      1      0  ...        1        0
997  12   804.0  4   4  38   1   1   1      0      0  ...        1        0
998  45  1845.0  4   4  23   1   1   2      1      0  ...        0        1
999  -6  4576.0  3   4  27   1   1   1      0      1  ...        1        0

     16_A171  16_A172  16_A173  16_A174  18_A191  18_A192  19_A201  19_A202
0          0        0        1        0        0        1        1        0
1          0        0        1        0        1        0        1        0
2          0        1        0        0        1        0        1        0
3          0        0        1        0        1        0        1        0
4          0        0        1        0        1        0        1        0
..       ...      ...      ...      ...      ...      ...      ...      ...
995        0        1        0        0        1        0        1        0
996        0        0        0        1        0        1        1        0
997        0        0        1        0        1        0        1        0
998        0        0        1        0        0        1        1        0
999        0        0        1        0        1        0        1        0

[1000 rows x 62 columns]

#### 4.c Detecção de Outliers

Considere a base de dados original. Realize uma análise usando o intervalo interquartil no atributo `Credit amount` para detecção de outliers. ~~Considere um valor outlier quando ele for 3.0 vezes o IQR (Q_3 - Q_1) maior ou menor do que a mediana (Q_2).~~

> **ERRATA:** Considerem a definição padrão para detecção de outliers usando IQR, mas com multiplicador 3.0: maior que $Q_3+(\text{IQR}*3.0)$ ou menor que $Q_1-(\text{IQR}*3.0)$

Qual a média dos outliers encontrados?

(a) Aproximadamente 11 mil

(b) Aproximadamente 14 mil

(c) Aproximadamente 3 mil

(d) Aproximadamente 5 mil

In [ ]:
#considerando a base de dados original
data_german = pd.read_csv("/content/drive/MyDrive/Faculdade/Aprendizado de Máquina/german.csv")
print("Dados totais iniciais:", data_german.shape)

Q1 = data_german['4'].quantile(0.25)
Q3 = data_german['4'].quantile(0.75)
IQR = Q3 - Q1

print("IQR = %.2f" % IQR)

dataout_iqr = data_german[(data_german['4'] < Q1-(IQR*3.0)) | (data_german['4'] > Q3+(IQR*3.0))]
print("Outliers:", len(dataout_iqr))
media = dataout_iqr.loc[dataout_iqr['4'].notnull(),'4'].mean()
print("Media dos outliers:", media)

Dados totais iniciais: (1000, 21)
IQR = 2607.50
Outliers: 24
Media dos outliers: 13858.125

#### Avaliação do Modelo

Aplique as alterações propostas nos exercícios 4(a), 4(b) e 4(c) no conjunto de dados, ou seja, remova dados errôneos ou faltantes, codifique os dados categóricos e remova outliers. Separe os atributos do rótulo.

Você deverá dividir a base de dados de forma a ter um conjunto de Teste, um de Treino e um de Validação (*hold-out*)

Primeiro, separe 90% dos exemplos para o conjunto de Treino, 10% para Teste. Use `random_state=1` na função `sklearn.model_selection.train_test_split`.

In [ ]:
import sklearn
import sklearn.model_selection

data_german = pd.read_csv("/content/drive/MyDrive/Faculdade/Aprendizado de Máquina/german.csv")
print("Dados totais iniciais:", data_german.shape)

#removendo valores erroneos encontrados
data_german = data_german.where(data_german['1'] != -12) 
data_german = data_german.where(data_german['1'] != -6) 

print("Dados totais 1:", data_german.shape)
#agora, sem os valores negativos: remoção das linhas com valores faltantes
data_german = data_german.dropna()
print("Dados totais 2:", data_german.shape)

data_german = pd.get_dummies(data_german, dummy_na=False)
print("Dados totais 3:", data_german.shape)

#remoção dos outliers
data_german = data_german.drop(dataout_iqr.index)
print("Dados totais finais:", data_german.shape)

# separa os atributos do rótulo
Y_data_german = data_german['20']
del data_german['20']

print(data_german.head())

print("Conjunto de dados ", data_german.shape)
print("Conjunto de rótulos ", Y_data_german.shape)

Dados totais iniciais: (1000, 21)
Dados totais 1: (1000, 21)
Dados totais 2: (996, 21)
Dados totais 3: (996, 62)
Dados totais finais: (972, 62)
      1       4    7   10    12   15   17  0_A11  0_A12  0_A13  ...  14_A152  \
0   6.0  1169.0  4.0  4.0  67.0  2.0  1.0      1      0      0  ...        1
1  48.0  5951.0  2.0  2.0  22.0  1.0  1.0      0      1      0  ...        1
2  12.0  2096.0  2.0  3.0  49.0  1.0  2.0      0      0      0  ...        1
3  42.0  7882.0  2.0  4.0  45.0  1.0  2.0      1      0      0  ...        0
4  24.0  4870.0  3.0  4.0  53.0  2.0  2.0      1      0      0  ...        0

   14_A153  16_A171  16_A172  16_A173  16_A174  18_A191  18_A192  19_A201  \
0        0        0        0        1        0        0        1        1
1        0        0        0        1        0        1        0        1
2        0        0        1        0        0        1        0        1
3        1        0        0        1        0        1        0        1
4        1        0        0        1        0        1        0        1

   19_A202
0        0
1        0
2        0
3        0
4        0

[5 rows x 61 columns]
Conjunto de dados  (972, 61)
Conjunto de rótulos  (972,)

In [ ]:
# separa em treino e teste
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(data_german, Y_data_german, test_size=0.1, random_state=1)

print(x_train.shape)
print(x_test.shape)

(874, 61)
(98, 61)

Agora, considerando a técnica de avaliação *hold-out*, separe o conjunto de Treino em dois, deixando um para Treino (vamos chama-lo de Treino_holdout) e um para Validação. Use `random_state=2` na função `sklearn.model_selection.train_test_split`.

In [ ]:
# separa treino e validação
x_treino_holdout, x_validacao, y_treino_holdout, y_validacao= sklearn.model_selection.train_test_split(x_train, y_train, test_size=0.1, random_state=2)

print(x_treino_holdout.shape)
print(x_validacao.shape)

(786, 61)
(88, 61)

Usando o conjunto Treino_holdout e Validação, encontre o melhor parâmetro k (`n_neighbours` na função do sklearn) para o algoritmo K-Vizinhos Mais Próximos (`sklearn.neighbors.KNeighborsClassifier`), comparando os valores `[1, 3, 5]` e usando como métrica a acurácia no conjunto de validação.

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

#definição dos classificadores
knn_1 = KNeighborsClassifier(n_neighbors=1)
knn_3 = KNeighborsClassifier(n_neighbors=3)
knn_5 = KNeighborsClassifier(n_neighbors=5)

#treinamento
treinamento_1 = knn_1.fit(x_treino_holdout, y_treino_holdout)
treinamento_3 = knn_3.fit(x_treino_holdout, y_treino_holdout)
treinamento_5 = knn_5.fit(x_treino_holdout, y_treino_holdout)

#validação
score_1 = treinamento_1.score(x_validacao, y_validacao)
score_3 =treinamento_3.score(x_validacao, y_validacao)
score_5 =treinamento_5.score(x_validacao, y_validacao)



print("acurácia para n_neighbor = 1:", score_1.mean())
print("acurácia para n_neighbor = 3:", score_3.mean())
print("acurácia para n_neighbor = 5:", score_5.mean())

print(data_german.head())

acurácia para n_neighbor = 1: 0.6136363636363636
acurácia para n_neighbor = 3: 0.625
acurácia para n_neighbor = 5: 0.6363636363636364
      1       4    7   10    12   15   17  0_A11  0_A12  0_A13  ...  14_A152  \
0   6.0  1169.0  4.0  4.0  67.0  2.0  1.0      1      0      0  ...        1
1  48.0  5951.0  2.0  2.0  22.0  1.0  1.0      0      1      0  ...        1
2  12.0  2096.0  2.0  3.0  49.0  1.0  2.0      0      0      0  ...        1
3  42.0  7882.0  2.0  4.0  45.0  1.0  2.0      1      0      0  ...        0
4  24.0  4870.0  3.0  4.0  53.0  2.0  2.0      1      0      0  ...        0

   14_A153  16_A171  16_A172  16_A173  16_A174  18_A191  18_A192  19_A201  \
0        0        0        0        1        0        0        1        1
1        0        0        0        1        0        1        0        1
2        0        0        1        0        0        1        0        1
3        1        0        0        1        0        1        0        1
4        1        0        0        1        0        1        0        1

   19_A202
0        0
1        0
2        0
3        0
4        0

[5 rows x 61 columns]

#### 4.d Qual valor de k obteve a melhor acurácia no conjunto de validação?

(a) 1

(b) 2

(c) 3

(d) 5

#### 4.e Utilize o parâmetro selecionado para treinar usando todo o conjunto de Treino. Qual foi a acurácia resultante no conjunto de Teste

(a) Aproximadamente 63.5%

(b) Aproximadamente 67.4%

(c) Aproximadamente 68.4%

(d) Aproximadamente 72.7%

In [ ]:
#treinamento com o parâmetro selecionado (no caso, knn_5)
treinamento = knn_5.fit(x_train, y_train)

#acurácia resultante
score =treinamento.score(x_test, y_test)

print("Acurácia resultante:", score)

Acurácia resultante: 0.673469387755102